body {
    margin: 0;
}
header {
    padding: 1em;
    background-color: green;
}
header img {
    width: 3em;
}

header ul {
    margin-top: 1em;
    float: right;
    list-style: none;
}

header ul li {
    display: inline;
    padding: 1em;
    color:white;
}

header ul li:hover {
    background-color: blue;
}

footer {
    background-color: violet;
    max-width: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer img {
    width: 3em;
    padding: .5em .5em 0 .5em;
}

footer span {
    color: white;
}